/*
 * Copyright 2015. Author: Jeffrey Hing. All Rights Reserved.
 *
 * MIT License
 *
 * CSS for menus directive.
 */

.menus {
    border: 1px solid #d0d0d0;
    padding: 3px 3px 3px 4px;
}

.menu {
    display: inline-block;
    position: relative;
}

.menu-trigger {
    color: inherit;
    cursor: pointer;
    display: inline-block;
    padding: 9px 10px 11px 10px;
    position: relative;
    text-decoration: none;
    top: 1px;
    z-index: 2;
}

.menu-trigger-open {
    background-color: #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    border-top: 1px solid #d0d0d0;
    padding: 8px 9px 10px 9px;
}

.menu-contents {
    background-color: #f4f4f4;
    display: none;
    padding: 10px;
    position: absolute;
    width: 100px;
    z-index: 1;
}

.menu-contents-open {
    border: 1px solid #d0d0d0;
    display: block;
}

.menu-contents > a {
    color: inherit;
    display: block;
    text-decoration: none;
}
